@charset "utf-8";
@import url("./reset.css");

:root {
  --dark-color: #1D1D1D;
  --white-color: #FFFFFF;
  --gray-color: #4F4F4F;
  --small-border-radius: 3px;
  --big-border-radius: 10px;
  --section-margin-top: 55px;
}

* {
  transition: all 0.5 ease-in-out;
}

html, body {
  height: 100%;
}

.flex {
  display: flex;
}

.center {
  display: grid;
  place-items: center;
}

.space-between {
  justify-content: space-between;
}

.container { 
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  /* Available font weights for Roboto: 100, 300, 400, 500, 700, 900 */
  font-family: "Roboto", sans-serif;
}

.libre-font {
  /* add this class to the Royal Oak logo in the upper left corner of the page */
  /* Available font weights for Libre : any value from 400 to 700 */
  font-family: "Libre Bodoni", serif;
  font-weight: 700;
}

.spacebetween {
  justify-content: space-between;
}

ul {
  gap: 35px;
}

.button{
  width: 130px;
  height:50px;
  margin: 10px 0;
  font-size: 18px;
}

/*
  Header
*/


header {
  height: 60px;
  background-color: var(--dark-color);
}

header h2, header h2 a {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  line-height: 60px;
}

.header-container {
display: flex;
justify-content: space-between;
}

.title {
  width: 40svw;
}

nav ul {
  display: flex;
}

nav ul li {
  line-height: 60px;
  cursor: default;
  list-style: none;
}

a {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.menu-icon {
  display: none;
}

/* nav ul li a:hover {
  color: rgb(199, 199, 237);
} */

/* main */

.browse-homes, .similar-homes {
  margin-top: var(--section-margin-top);
}

.row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.sub-row {
  display: flex;
  gap: 15px;
  width: 50%;
}

.row + .row {
  margin-top: 15px;
}

.home {
  width: 100%;
  height: 200px;
  background-color: var(--gray-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--big-border-radius);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

/* dialog section */
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  padding: 20px;
  z-index: 1;
  border-radius: var(--small-border-radius);
  width: 320px;
  border: none; 
}
/* Styling the Overlay (backdrop) */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.456);
}

dialog input {
  display: block;
  margin-bottom: 10px;
}

dialog input[type="checkbox"] {
  display: inline;
}

dialog input[type="text"], dialog input[type="password"] {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid var(--gray-color);
  padding-left: 10px;
  border-radius: var(--small-border-radius);
}

dialog input[type="button"], button {
  height: 40px;
  color: var(--white-color);
  background-color: var(--dark-color);
  width: 100%;
  border-radius: var(--small-border-radius); 
}

dialog h3 {
  font-size: 24px;
  font-weight: 800;
  text-align: left;
}

dialog p {
  margin-top: 5px;
  text-align: left;

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}

.x-mark {
  width: 25px;
  height: 25px;
  /* background-color: black; */
  background-image: url("../media/x-mark-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

/* dialog section  end*/

/*
  Footer
*/


footer {
  height: 80px;
  background-color: rgb(22, 25, 45);
}

.end {
  line-height: 80px;
}

ul li {
  list-style: none;
}

.links i {
  color: #fff;
  font-size: 20px;
}

.links i:hover {
  color: #c7c7ed;
}

.copyright {
  font-size: 17px;
  color: #fff;
}

/* responsivness */

@media (max-width: 904px) {

  nav ul {
    display: flex;
  }

  .sub-row {
    display: block;
    gap: 15px;
    width: 100%;
  }

  .home + .home {
    margin-top: 15px;
  }

  .home {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 599px){

  .header-container {
    display: block;
  }

  nav ul {
  display: none;
  width: 100svw;
  text-align: center;
  }

  .menu-icon {
    display: block;
    line-height: 60px;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
  }

  .row {
    display: block;
  }

  .sub-row + .sub-row {
    margin-top: 15px;
  }

  .home {
    width: calc(100svw - 40px);
    height: 300px;
    border-radius: 0;
  }

  dialog {
    width: 100%;
  }
}