@charset "utf-8";
@import url("./reset.css");
@import url("./base.css");

/* Picture previewer */

/* this is an outer container, required for alignment and setting the size */
.viewer-box {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.picture-box { /* this div contains background picture and control buttons */
  display: flex;
  justify-content: space-around;
  align-items: center; /* Vertical alignment*/
  background-image: url("../media/pictures/0.jpg");
  background-color: #d2d7d5;
  width: 100%;
  height: calc(100svh - 60px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5a5e5d8e;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.right-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5a5e5d8e;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.spacer {
  width: calc(100% - 120px);
}
/* left right buttons here */

.tumbnail {
  background-color: #d2d7d5;
  width: 80px;
  height: 60px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Picture previewer  end*/
/* info */

.home-info{
  width: 40%;
}

.map {
  width: 60%;
}

.map iframe{
  height: 100%;
  width: 100%;
}

/*more homes*/


