@charset "utf-8";
@import url("./reset.css");
@import url("./base.css");

/* Picture previewer */

#images-section { 
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 1s ease;
}

#images-section.show {
  opacity: 1;
  transform: translateY(0);
}

/* this is an outer container, required for alignment and setting the size */
.viewer-box {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.picture-box { /* this div contains background picture and control buttons */
  display: flex;
  justify-content: space-around;
  align-items: center; /* Vertical alignment*/
  background-image: url("../media/pictures/0.jpg");
  background-color: #d2d7d5;
  width: 100%;
  height: calc(100svh - 60px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--small-border-radius);
}

.left-button {
  width: 50px;
  height: 50px;
  border-radius: var(--small-border-radius);
  background-color: #2b2b2b8e;
  background-image: url('../media/left-button.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.right-button {
  width: 50px;
  height: 50px;
  border-radius: var(--small-border-radius);
  background-color: #2b2b2b8e;
  background-image: url('../media/right-button.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.spacer {
  width: calc(100% - 250px);
}
/* left right buttons here */

.tumbnail {
  background-color: var(#4F4F4F);
  width: 16%;
  height: 10svw;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--small-border-radius);
  margin-top: 10px;
}

/* Picture previewer  end*/
/* info */

#house-info { 
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 1s ease;
}

#house-info.show {
  opacity: 1;
  transform: translateY(0);
}

.info div {
  margin-top: 15px;
}

.home-info{
  width: 30%;
  min-width: 300px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
  margin-top: 10px;
}

.button {
  width: 250px;
}

.home-info p {
  font-size: 20px;
}

.map {
  width: 70%;
}

.map iframe{
  height: 100%;
  width: 100%;
  border-radius: var(--small-border-radius);
}

/*more homes*/

#more-houses { 
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 1s ease;
}

#more-houses.show {
  opacity: 1;
  transform: translateY(0);
}

.similar-homes {
  margin-bottom: 40px;
}

/* responsivness */

@media (max-width: 599px){
  .info div {
    display: block;
  }

  .home-info {
    width: 100%;
    text-align: center;
  }

  .map {
    width: 100%;
    height: 300px;
  }
}