@charset "utf-8";
@import url("./reset.css");
@import url("./base.css");

/* header  */


/* dialog section */
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Styling the Overlay (backdrop) */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.456);
}

/* header  end*/

/* Hero banner */
.hero-banner {
  display: flex;
  position: relative;

  background-image: url("../media/header-img.jpeg");
  height: calc(100dvh - 60px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.479);
  }
}



.search-bar-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--app-background-dark);
  h1 {
    color: var(--white-color);
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
  }
}


/* Hero banner end */

/* browse-homes */
.browse-homes {
  margin-top: var(--section-margin-top);
}

.row {
  display: flex;
  gap: 15px;
}

.sub-row {
  display: flex;
  gap: 15px;
}

.row + .row {
  margin-top: 15px;
}

.home {
  width: 200px;
  height: 200px;
  background-color: aqua; /* please change this monstruosity later */
  border: 2px solid black; /* please change this monstruosity later */
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 300px;
  border-radius: var(--border-radius);
}

/* contact */
form {
  width: 50%;
}

.small-input {
  width: 100%;
  background-color: blanchedalmond; /*change color*/
}

.big-input {
  width: 100%;
  height: 100px;
  background-color: blue;
}

.contact-info {
  width: 50%;
}

/* responsivness */

@media (max-width: 904px) {
  .sub-row {
    display: block;
    gap: 15px;
  }

  .home + .home {
    margin-top: 15px;
  }

  .home {
    width: 300px;
    height: 300px;
    background-size: 450px;
  }
}

@media (max-width: 599px){
  .row {
    display: block;
  }

  .sub-row + .sub-row {
    margin-top: 15px;
  }

  .home {
    width: calc(100svw - 40px);
    height: 300px;
    background-size: 600px;
    border-radius: 0;
  }
}