@charset "utf-8";
@import url("./reset.css");
@import url("./base.css");

/* header  */
/* see base css */
/* header  end*/

/* Hero banner */
.hero-banner {
  display: flex;
  position: relative;

  background-image: url("../media/header-img.jpeg");
  height: calc(100dvh - 60px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease, transform 1.2s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.479);
  }
}

.hero-banner.show {
  opacity: 1;
  transform: translateY(0);
}
.search-bar-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--app-background-dark);

  .search-bar-div {
    position: relative;
    /* height: 57px; */
    margin-top: 30px;
    .search-bar {
      height: 70px;
      width: 84%;
      border-radius: 35px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.393);
      padding-left: 4%;

      &::placeholder {
        color: var(--gray-color);
        opacity: 0.4; /* Firefox requires this to change the color */
        font-size: 22px;
      }
    }
    .search-button {
      position: absolute;
      top: 50%;
      right: 9%;
      transform: translateY(-50%);
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background: var(--dark-color) url('../media/search-icon.png') no-repeat center center;
      background-size: 50%;
    }
  }
}

h1 {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 900;
  line-height: 60px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.393);
}

/* Hero banner end */

/* browse-homes */

/* #browse-homes {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 1s ease;
}

#browse-homes.show {
  opacity: 1;
  transform: translateY(0);
} */

.home {
  cursor: pointer;
}

.home h3 {
  font-size: 25px;
}

/* article */

.article {
  background-image: url("../media/article-img.jpg");
  background-size: cover;
  background-position: center;
  margin-top: var(--section-margin-top);
  height: 466px;
  color: var(--white-color);
  position: relative;
}

#article {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 1s ease;
}

#article.show {
  opacity: 1;
  transform: translateY(0);
}

.article::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.article div div button {
  border-radius: 50px;
  border: 1px solid var(--white-color);
}

.article .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 69;
  gap: 25px;
  h2 {
    text-align: center;
    font-size: 35px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.448);
  }
  p {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.448);
    width: 85%;
  }

  button {
    width: 200px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s;
  }

  button:hover {
    background-color: #2e2e2e;
  }
}

/* about us */

.about-us {
  margin-top: var(--section-margin-top);
}

/* #about-us {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 1s ease;
}

#about-us.show {
  opacity: 1;
  transform: translateY(0);
} */

.about-top-text {
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
    text-align: center;
    color: var(--gray-color);
    font-weight: 300;
    width: 60%;
    margin-top: 10px;
  }
}

.team {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.agent-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-row {
  display: flex;
  justify-content: space-between;
  width: calc(50% - 20px);
}

.team-member {
  position: relative;
  text-align: center;
  width: calc(50% - 20px);
  place-content: center;
  align-items: center;
  justify-content: center; 
  padding: 10px;
  border-radius: var(--small-border-radius);
  cursor: pointer;
  transition: all 0.4s;

  h3 {
    color: var(--gray-color);
    font-size: 24px;
    font-weight: 300;
    margin-top: 15px;
  }  

  span {
    color: var(--dark-color);
    font-weight: 500;
  }
  /* job titles */
  .title {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  .about-person {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    color: var(--gray-color);
  }

  &:hover {
    box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.043);
  }
}

.social-icons-container {
  position: absolute;
  place-content: center;
  bottom: 20px;
  width: 90%;
  height: 20px;
  display: flex;
  gap: 15px;

  i {
    font-size: 20px;
  }
}
/* about us end */

/* contact */

#contact {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 1s ease;
}

#contact.show {
  opacity: 1;
  transform: translateY(0);
}

.contact {
margin-top: var(--section-margin-top);
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 32px;
    margin: 20px 0;
    font-weight: 300;
  }
}

.contact-background-container {
  position: relative;
  width: 100%;
  background-image: url('../media/contact-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
}

.contact-column form, .contact-column .contact-info {
  z-index: 4;
}

.contact-background-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  width: 50%;
  margin-bottom: 20px;
}

.contact input {
  border-radius: var(--small-border-radius);
  background-color: var(--white-color);
  height: 40px;
  padding: 10px;
}

.small-input {
  width: 100%;
}

textarea {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  height: 120px;
  border-radius: var(--small-border-radius);
  background-color: var(--white-color);
}

.contact-info {
  width: 50%;
  margin-bottom: 20px;
}

form input + input {
  margin-top: 20px;
}

.contact-column div button {
  margin-top: 20px;
}

/* responsivness */

@media (max-width: 904px) {
  .search-bar-container {
    width: 80%;
  }

  .about-row {
    display: block;
    width: calc(100%);
  }

  .team-member {
    width: 100%;
  }

  .about-top-text p {
    width: 80%;
  }

  .contact-column form, .contact-column .contact-info {
    position: relative;
    z-index: 4;
  }
}

@media (max-width: 599px){
  h1 {
    font-size: 40px;
  }

  .contact-column {
    display: block;
  }

  form {
    width: 100%;
  }

  .contact-info {
    width: 100%;
  }

  .search-bar-container {
    width: 90%;
  }
  .team {
    display: block;
  }

  .article .container {
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 30px;
      font-weight: 900;
      width: 100%;
    }
  }

  .about-top-text p {
    width: 100%;
  }

  .contact-column form, .contact-column .contact-info {
    position: relative;
    z-index: 4;
  }
}